.c-readmore {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	padding-top: 10px;
	width: fit-content;
	&:before {
		@include transition();
		content: '';
		display: block;
		width: 50%;
		height: 1px;
		background: var(--gray);;
		position: absolute;
		top: 0;
		left: 0;
	}
	span {
		@include transition();
		@include preset__label();
		color: var(--primary);
	}
	i {
		@include transition();
		position: relative;
		right: 0;
		top: 1px;
		display: block;
		width: 20px;
		height: 20px;
		svg {
			display: block;
			width: 20px;
			height: 20px;
			path {
				@include transition();
				stroke: var(--primary);
			}
		}
	}

	&.--center {
		justify-content: center;
		&:before {
			right: 0;
			margin: 0 auto;
		}
		&:hover {
			i {
				right: 0;
			}
		}
	}
	&.--right {
		justify-content: flex-end;
		&:before {
			right: 0;
			left: inherit;
		}
		&:hover {
			i {
				right: 0;
			}
		}
	}

	&:hover {
		&:before {
			width: 75%;
			background: var(--primary);
		}
		span {
			color: var(--primary__dark);
		}
		i {
			right: -4px;
			svg path {
				stroke: var(--primary__dark);
			}
		}
	}
}