// presets - text styles
@mixin preset__p($tc: var(--text)) {
	display: block;
	color: $tc;
	font-size: 22px;
	letter-spacing: 0;
	line-height: 1.5;
	a {
		font-size: 18px;
		color: var(--primary);
		font-weight: var(--fw__medium);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	@media screen and (max-width: 940px) {
		font-size: 20px;
	}
}
@mixin preset__p__s($tc: var(--text)) {
	display: block;
	color: $tc;
	font-size: 18px;
	letter-spacing: -0.1px;
	line-height: 1.4;
	font-weight: var(--fw__regular);
	a {
		font-size: 16px;
		color: var(--primary);
		font-weight: var(--fw__medium);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	@media screen and (max-width: 940px) {
		font-size: 17px;
	}
}
@mixin preset__p__xs($tc: var(--text)) {
	display: block;
	color: $tc;
	font-size: 14px;
	letter-spacing: -0.25px;
	line-height: 1.35;
	@media screen and (max-width: 940px) {
		font-size: 13px;
	}
}
@mixin preset__l__p($tc: var(--text)) {
	color: $tc;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 39.2px */
	letter-spacing: -1.12px;
	@media screen and (max-width: 940px) {
		font-size: 22px;
	}
}

@mixin preset__label() {
	font-weight: var(--fw__bold);
	color: var(--text__dark);
	font-size: var(--fs__base);
}
@mixin preset__s__label() {
	font-weight: var(--fw__semiBold);
	color: var(--text);
	font-size: calc(var(--fs__base) - 0.15rem);
}

@mixin preset__h1() {
	font-weight: var(--fw__bold);
	color: var(--black2);
	letter-spacing: -4px;
	font-size: 100px;
	line-height: 0.9;
}
@mixin preset__h2() {
	font-weight: var(--fw__bold);
	color: var(--black2);
	font-size: 60px;
	line-height: 90%; /* 54px */
	letter-spacing: -2.4px;
	@media screen and (max-width: 940px) {
		font-size: 42px;
	}
}
@mixin preset__h3() {
	font-weight: var(--fw__bold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 30px;
	line-height: 1;
}
@mixin preset__h4() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 26px;
	line-height: 1;
}
@mixin preset__h5() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 22px;
	line-height: 1;
}
@mixin preset__h6() {
	font-weight: var(--fw__semiBold);
	color: var(--primary);
	letter-spacing: -1px;
	font-size: 18px;
	line-height: 1;
}

// presets - generic
@mixin preset__scroll($bg: var(--scroll__bg), $bar: var(--scroll__bar), $size: var(--scroll__size), $radius: var(--scroll__radius)) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-button {
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-thumb {
		background: $bar;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
	&::-webkit-scrollbar-track {
		background: $bg;
		border: 0;
		border-radius: $radius;
		height: $size;
	}
}
@mixin preset__masks() {}