@mixin fields__baseStyle {
	select,
	textarea,
	input[type=text],
	input[type=email],
	input[type=phone]{
		@content
	}
}
@mixin fields__baseStyle__focus {
	select:focus,
	textarea:focus,
	input[type=text]:focus,
	input[type=email]:focus,
	input[type=phone]:focus{
		@content
	}
}

.c-field {
	display: block;
	padding: var(--field__gap);

	// structure
	.c-field__head {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 5px;
		label {
			@include preset__label;
		}
		span {
			@include preset__p__xs($tc: var(--text__light));
		}
	}
	.c-field__content {
		position: relative;
		display: block;
		width: 100%;
		@include fields__baseStyle {
			@include transition();
			display: block;
			width: 100%;
			height: var(--field__height);
			padding: 0 var(--field__padding);
			border-style: solid;
			border-width: var(--field__border__w);
			border-radius: var(--field__radius);
			line-height: var(--field__lineHeight);
			background: transparent;
			font-size: var(--fs__base);
			color: var(--text);
			@include placeholder {
				color: var(--text__placeholder);
			}
		}
		textarea {
			@include preset__scroll($radius: var(--radius));
			resize: vertical;
			min-height: 90px;
		}
		input[type=checkbox] {
			border-radius: calc(var(--field__border__w) * 2);
		}
		input[type=radio] {
			border-radius: 50%;
		}
		input[type=checkbox],
		input[type=radio]{
			display: block;
			@include flexWidth(var(--field__check__size));
			@include flexHeight(var(--field__check__size));
			border-style: solid;
			border-width: var(--field__border__w);
			background-color: transparent;
			cursor: pointer;
		}
	}

	// types
	&.--select {
		select {
			padding-right: calc(var(--field__padding) + 14px);
			color: var(--text__placeholder) !important;
			option {
				color: var(--text) !important;
			}
		}
		.c-field__content {
			&:after {
				@include transition();
				@include rotate(0deg, center);
				display: block;
				content: '';
				width: 10px;
				height: 14px;
				position: absolute;
				top: 50%;
				right: var(--field__padding);
				margin-top: -7px;
				background: url('../media/icons/icon_caret_down.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}

		&.is-focus {
			.c-field__content {
				&:after {
					@include rotate(180deg, center);
				}
			}
		}
		&.is-placeholder-option-selected {
			select {
				color: var(--text__placeholder) !important;
			}
		}
		&.isnt-placeholder-option-selected {
			select {
				color: var(--text) !important;
			}
		}
	}
	&.--check {
		.c-field__content__check {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding-top: 2px;
			margin-bottom: 5px;
			&:last-of-type {
				margin-bottom: 0;
			}
			label {
				@include preset__p__s();
				padding-left: 8px;
			}
		}
	}
	&.--file {
		.c-field__content {
			&__fileInput {
				border-radius: 20px;
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				opacity: 0;
				cursor: pointer;
			}
			&__fileName {
				position: relative;
				z-index: 1;
			}
			&:after {
				content: '';
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				right: 20px;
				z-index: 2;
				background-image: url("../../assets/media/icons/icon_file.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}

	// themes
	&.--default {
		.c-field__content {
			@include fields__baseStyle {
				border-color: var(--white);
				background-color: var(--white);
				color: var(--text)
			}
			@include fields__baseStyle__focus {
				border-color: var(--gray);
				background-color: var(--white3);
			}
			input[type=checkbox],
			input[type=radio] {
				border-color: var(--white3);
				&:checked {
					background-color: var(--primary);
					background-image: var(--field__check__icon__white);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 50%;
				}
			}
		}
	}

	// spacer
	.u-spacer {
		margin: 0;
	}
}

.c-form {
	@include calcWidthForPositionNegative(var(--field__gap__negative));
	padding-left: 10px;
	fieldset {
		display: block;
		width: 100%;
		legend {
			@include preset__h5;
			display: block;
			width: 100%;
			padding: var(--field__gap);
		}
	}
	&__hero {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__group {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	&__field {
		display: block;
		width: 100%;
	}
	&__feedbacks {
		display: block;
		width: 100%;
	}

	&.--justIptPlusBtn {
		left: 0;
		.c-form__group {
			display: flex;
			flex-direction: row;
			.c-field.--input {
				flex: 1 1 auto;
				* {
					width: 100%;
				}
			}
			.c-field.--btn {
				@include flexWidth(175px);
				.c-btn {
					width: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 640px) {
	.c-form.--justIptPlusBtn {
		padding-left: 0;
		.c-form__group {
			.c-field.--input,
			.c-field.--btn {
				@include flexWidth(100%);
			}
			.c-field.--btn {
				padding-top: 0;
			}
		}
	}
}