.s-stickyContent {
	padding: 90px 0;
	display: block;
	width: 100%;
	position: relative;
	.u-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	&__col {
		@include flexWidth(50%);
		&.--infos {
			padding-right: 50px;
			position: sticky;
			top: 200px;
		}
		&.--cards {
			ul {
				@include calcWidthForPositionNegative(-15px);
				column-count: 2;
				column-gap: 0;
				li {
					padding: 15px;
					break-inside: avoid-column;
					position: relative;
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6){
						top: 100px;
						///background: #000;
					}
				}
			}


		}
	}
	&.--reverse {
		.s-stickyContent__col.--infos {
			order: 2;
			padding-right: 0;
			padding-left: 50px;
		}
		.s-stickyContent__col.--cards {
			ul {
				li {
					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3){
						top: 100px;
					}
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6){
						top: 0px;
					}
				}
			}
		}
	}

	.c-shapeDivider {
		bottom: 0;
	}
	.c-callToAction {
		margin-top: 30px;
	}
	.c-listBrands {
		margin-top: 30px;
	}
}
@media screen and (max-width: 1350px) {
	.s-stickyContent__col.--cards {
		@include flexWidth(45%);
	}
	.s-stickyContent__col.--infos {
		@include flexWidth(55%);
	}
	.s-stickyContent__col.--cards ul {
		flex-wrap: wrap;
		li {
			@include flexWidth(100%);
		}
	}
	.s-stickyContent__col.--cards ul li:nth-child(even),
	.s-stickyContent.--reverse .s-stickyContent__col.--cards ul li:nth-child(odd) {
		top: 0;
	}
}
@media screen and (max-width: 1230px) {
	.s-stickyContent {
		.u-container {
			display: block;
			max-width: 780px;
		}
	}

	.s-stickyContent__col.--infos {
		padding-right: 0;
		position: relative;
		top: 0;
		@include flexWidth(100%);
		.c-defaultContentStyle {
			* {
				text-align: center !important;
			}
		}
	}
	.s-stickyContent__col.--cards {
		@include flexWidth(100%);
		margin-top: 60px;
	}
	.s-stickyContent__col.--cards ul li {
		@include flexWidth(50%);
	}

	.s-stickyContent .c-callToAction {
		justify-content: center;
	}

	.s-stickyContent.--reverse .s-stickyContent__col.--infos {
		padding-left: 0;
	}
}
@media screen and (max-width: 600px) {
	.s-stickyContent__col.--cards ul {
		flex-wrap: wrap;
		li {
			@include flexWidth(100%);
		}
	}
}

.s-integrations {
	background: var(--white);
	padding-bottom: 250px;
}
@media screen and (max-width: 1230px) {
	.s-integrations{
		padding-bottom: 140px;
	}
}

.s-siteDevelopment {
	padding-bottom: 160px;
	background: var(--white3);
}