.c-sitemap {
	@include calcWidthForPositionNegative(-10px);
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	&__group {
		padding: 0 10px;
	}
	h4 {
		margin-bottom: 15px;
	}
	ul, li {
		display: block;
		list-style-position: inherit;
		list-style-type: none !important;
		padding: 0;
		p {
			@include preset__p__s();
			color: var(--white);
			&:hover {
				color: var(--secondary);
			}
		}
	}
}
@media screen and (max-width: 1280px) {
	.c-sitemap {
		flex-wrap: wrap;
		&__group {
			@include flexWidth(50%);
			padding: 40px 10px;
		}
	}
}