.c-cardTestmonials {
	background: var(--white);
	border-radius: var(--radius);
	padding: 25px;
	h4 {
		@include preset__h4;
	}
	p {
		@include preset__p;
	}
	.c-cardVideo {
		margin-top: 10px;
	}
	blockquote {
		background: transparent;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		font-size: 26px;
	}
}
